body{
    color: red;
    text-align: center;
    background: yellow;
}

p{
    background: yellowgreen;
}

#parra{
    background: blue;
}

#parraDos{
    background: black;
    color: aqua;
}

#imgHeader{
    width: 100px;
    height: 100px;
}
