body{
    color: red;
    text-align: center;
    background: yellow;
}

p{
    background: yellowgreen;
}

#parra{
    background: blue;
}

#parraDos{
    background: black;
    color: aqua;
}
#final{
    background: orange;
    width: 1000px;
    height: 100px;
}

#final p {
    background-color: orange;
}